.tituloCadastro{
    text-align: center;
    border: 10px;
    color: red;
}
.registros{
    text-align: center;
    padding: 40px;
}
.box{
    padding-left:5px;
    display: block;
    width: 20%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    border: solid 2px #ffb719;
    padding: 10px !important;
    height: auto;
}
.botao{
    font-family: 'Speedee_A_Bd';
    background: #ffbc0d;
    border: solid 3px #FFFFFF;
    border-radius: 50px;
    padding: 5px 40px;
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s background;
}
.botao:hover{
    font-family: 'Speedee_A_Bd';
    background: red;
    border: solid 3px #FFFFFF;
    border-radius: 50px;
    padding: 5px 40px;
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: 0.5s background;
    transition: 0.5s color;
}